body{
    background-color: lightskyblue;
    font-family: Arial, sans-serif;
    
}

header{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    padding-left: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    animation-name: changeColor;
    animation-duration: 50s;
    animation-timing-function: linear;
}

#In{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
}

.article{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    line-height: 0.5; 
    padding-bottom: 30px;
    transition: background 0.3s linear;
}

.article:hover{
    background: rgb(255, 97, 97);
}

@keyframes changeColor {
    from {
        background-color: white;
    }
    to {
        background-color: rgb(255, 255, 0);
    }
    
}

footer{
    background: black;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 5px auto;
    width: 80%;
}
